- f.inputs do
  = f.input :name, :label => t("label.name")
  = f.input :id, :label => t("label.warcraftid")
- f.buttons do
  = f.commit_button(t("label.save"))
  - if display_cancel
    = f.commit_button(t("label.cancel"), :value => t("label.cancel"))
