= render(:partial => "shared/pagination.html.haml", :locals => {:items => drops})
%br
%table#drop-table{:width => "100%"}
  %thead
    %tr.rowHeader
      %th
        Item
        = sort_links(Drop, "items.name")
      %th
        Encounter
      - admin_only do
        %th{:width => "10%"}
          Action
  %tbody
    = render(:partial => 'shared/drop.html.haml', :collection => drops)
