== $('#loot_member_id').find('option').remove();
== $('#loot_member_id').append("#{escape_javascript(@loot_members_options)}")
== $("#raid-members").html("#{escape_javascript(render(:partial => 'raids/raiders.html.haml', :locals => {:raiders => @raiders}))}")
== $(".active-memberships").text("#{@active_memberships}")
== $(".total-memberships").text("#{@total_memberships}")
